@(title: String)(messages: Seq[Message])
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/icon_alien.png")">
    </head>
    <body>
        @menu()
        <div class="container">
          <h1>All messages</h1>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">From</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
              @for(msg <- messages){ 
              <tr><td>@msg.name</td><td>@msg.txt</td></tr>
              }
            </tbody>
          </table>
        </div>
        @scripts()   
    </body>
</html>
