@(title: String)(content: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/icon_alien.png")">
    </head>
    <body>
        @menu()
        <div class="container">
          <h1>All messages</h1>
          <textarea readonly class="form-control" rows="10">@content</textarea>
        <div class="container">
        @scripts()   
    </body>
</html>
